.u-section-1 .u-sheet-1 {
  min-height: 599px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 599px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  letter-spacing: 2px;
  font-weight: 300;
  text-transform: none;
  margin: 185px 121px 0 95px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 3rem;
  margin: 18px 43px 0 17px;
}

.u-section-1 .u-shape-1 {
  width: 272px;
  height: 109px;
  margin: -180px auto 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  line-height: 1.33;
  letter-spacing: 0px;
  margin: 96px 42px 0 16px;
}

.u-section-1 .u-shape-2 {
  width: 272px;
  height: 109px;
  margin: -69px 26px 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 599px;
}

.u-section-1 .u-container-layout-2 {
  padding: 28px 0 16px;
}

.u-section-1 .u-shape-3 {
  width: 209px;
  height: 180px;
  border-style: double;
  margin: 173px 54px 0 auto;
}

.u-section-1 .u-shape-4 {
  width: 209px;
  height: 180px;
  border-style: double;
  margin: -283px 134px 0 auto;
}

.u-section-1 .u-shape-5 {
  width: 209px;
  height: 180px;
  border-style: double;
  margin: -142px 96px 0 auto;
}

.u-section-1 .u-image-1 {
  width: 458px;
  height: 458px;
  background-image: url("images/1708442984666.jpg");
  background-position: 50% 0%;
  margin: -191px auto 0 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 554px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 494px;
  }

  .u-section-1 .u-text-1 {
    width: 354px;
    margin-left: 45px;
    margin-right: 71px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 494px;
  }

  .u-section-1 .u-shape-4 {
    margin-top: -299px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 12px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 749px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -7px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 6px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 683px;
  }

  .u-section-1 .u-image-1 {
    width: 360px;
    height: 360px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1045px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 367px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 172px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 9px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -156px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 56px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -84px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 567px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 828px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-3 {
    margin-top: 96px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 357px;
  }

  .u-section-1 .u-shape-4 {
    margin-right: 131px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 521px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 520px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 16px;
}

.u-section-2 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 2.25rem;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 8px auto 0 58px;
}

.u-section-2 .u-text-3 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 8px auto 0 0;
}

.u-section-2 .u-btn-1 {
  font-size: 1.125rem;
  margin-top: 20px;
  margin-bottom: 0;
  background-image: none;
  --radius: 10px;
  line-height: 1.27;
  text-transform: none;
  padding: 8px 27px 8px 26px;
}

.u-section-2 .u-icon-1 {
  font-size: 2.2143em;
  margin-right: 3px;
}

.u-section-2 .u-group-1 {
  min-height: 181px;
  height: auto;
  background-image: none;
  margin: 31px 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 25px;
}

.u-section-2 .u-icon-2 {
  width: 48px;
  height: 48px;
  margin: 30px auto 0 0;
  padding: 0;
}

.u-section-2 .u-text-4 {
  margin: -36px 4px 0 60px;
}

.u-section-2 .u-icon-3 {
  width: 48px;
  height: 48px;
  margin: 38px auto 0 0;
  padding: 0;
}

.u-section-2 .u-text-5 {
  margin: -36px 4px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 447px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 429px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 122px;
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-2 .u-text-4 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 101px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 797px;
  }

  .u-section-2 .u-group-1 {
    min-height: 196px;
    margin-top: 230px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 50px;
    margin-left: 30px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: -36px;
    margin-right: -43px;
    margin-left: 98px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 54px;
    margin-left: 30px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: -36px;
    margin-right: -43px;
    margin-left: 98px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 701px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 701px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-1 {
    min-height: 308px;
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-4 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-group-1 {
    margin-top: 568px;
    margin-right: initial;
    margin-left: initial;
  }
}